<template>
    <div>
        <div class="white__block"></div>
        <h2>New task</h2>
        <div class="block__container">
            <input 
                @input="checkText"
                @keyup.enter="sendPostTask"
                @focus="focusAddTask" 
                type="text" 
                class="task__field" 
                v-model='taskMessage'
                :placeholder="[placeHolder ? 'Type new task here ..' : 'Please type here!']">
            <ul class="status__marks" :class="{ show__marks: showMarks }">
                <li @click="taskStatus = 'hot'" class="circle hot" :class="[taskStatus == 'hot' ? 'shadow' : '']"></li>
                <li @click="taskStatus = 'medium'" class="circle medium" :class="[taskStatus == 'medium' ? 'shadow' : '']"></li>
                <li @click="taskStatus = 'nomatter'" class="circle nomatter" :class="[taskStatus == 'nomatter' ? 'shadow' : '']"></li>
            </ul>
            <div class="choose__comment">
                <span class="text">add comment:</span>
                <span @click="toggleComment('issue')" class="issue" :class="[comment == 'issue' ? 'red' : '']">issue</span>
                <span class="or">or</span>
                <span @click="toggleComment('future')" class="future" :class="[comment == 'future' ? 'red' : '']">future</span>
            </div>
            <button @click.prevent="sendPostTask" class="task__push">Push</button>
        </div>
    </div>
</template>

<script setup>
import { ref, watch, onMounted } from 'vue';
import axios from 'axios';
import { useStore } from 'vuex';
import inputFilter from '../services/filters';

const store = useStore()
const taskStatus = ref("nomatter")
const taskMessage = ref('')
const oldMessage = ref('')
const comment = ref('')
const wrongInputMessage = ref('')
const showMarks = ref(false)
const placeHolder = ref(true)

const sendPostTask = () => {
    if (!taskMessage.value) {
        placeHolder.value = false
        setTimeout(() => {
            placeHolder.value = true
        }, 1000)
    } else {
        axios.post("http://backend.local/api/tasks", {
            task: taskMessage.value,
            status: taskStatus.value,
            type_name: comment.value ? comment.value : 'no comment'
        }).then((response) => {
            store.state.taskList.push(response.data[0])
            console.log(response.data[0]);
        }).catch((err) => {
            console.log(err.message);
        }).finally(() => {
            taskMessage.value = ""
            showMarks.value = false
            placeHolder.value = true
            comment.value = ''
        })
    }
}

const toggleComment = (requisite) => {
    if (taskMessage.value) {
        if(comment.value == requisite) {
            comment.value = ''
        } else {
            comment.value = requisite
        }
    }
}

watch(taskMessage, (newValue, oldValue) => {
    if(newValue == '') comment.value = ''

})

const focusAddTask = () => {
    store.state.whichEdit = -1
    showMarks.value = true
}

const checkText = () => {
    // check input spelling spelling 
    wrongInputMessage.value = inputFilter(taskMessage.value, oldMessage.value)
    if(!wrongInputMessage.value) {
        taskMessage.value = oldMessage.value
    } else {
        oldMessage.value  =  taskMessage.value
    }
}


</script>





<style scoped lang="scss">

.block__container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

h2 {
    font-weight: 600;
    font-size: 32px;
    color: #353535;
    margin-bottom: 28px;
}

.task__field {
    border-radius: 5px;
    width: 945px;
    height: 65px;
    background: #f8f8f8;
    padding: 18px 200px 18px 30px;
    font-weight: 400;
    font-size: 24px;
    color: #777;

    &:focus {
        border: 1px solid #949292;

    }
}

.task__push {
    border-radius: 5px;
    width: 229px;
    height: 65px;
    background: #CCCCCC;
    font-weight: 500;
    font-size: 24px;
    color: #4e4e4e;

    &:hover {
        background: #72e49f;
    }
}

.status__marks {
    opacity: 0;
    transition: all 0.3s;
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 118px;
    right: 285px;
    top: 20px;

    .hot {
        background-color: #F32C2C;
    }

    .medium {
        background-color: #EBEE4B;
    }

    .nomatter {
        background-color: #5C4FED;
    }
}

.circle {
    border-radius: 100%;
    width: 28px;
    height: 28px;
    cursor: pointer;

    &:hover {
        border: 1px solid black;
    }

}

.shadow {
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
}

.show__marks {
    opacity: 1;
    transition: all 0.3s;
}

.choose__comment {
    position: absolute;
    top: -30px;
    right: 250px;
    .text {
        font-size: 20px;
        color: #777777;
        margin-right: 10px;
    }
    .issue{
        font-size: 22px;
        margin-right: 10px;
        cursor: pointer;

    }
    .future{
        font-size: 22px;
        margin-right: 10px;
        cursor: pointer;
    }
    .or {
        font-size: 20px;
        margin-right: 10px;
    }

    .red {
        color: #F32C2C;
    }
}
</style>