<template>
    <div class="main__container">
        <div class="table__title-wrapper">
            <h2>Task table</h2>
            <ul class="status__list">
                <li class="list__item" @click="getAlltasks()">All</li>
                <li class="list__item hot" @click="getAlltasks('hot')">Hot</li>
                <li class="list__item medium" @click="getAlltasks('medium')">Medium</li>
                <li class="list__item nomatter" @click="getAlltasks('nomatter')">No matter</li>
            </ul>
        </div>
        <ul class="todo__list-wrapper">
            <li v-for="task in store.state.taskList" :key="task.id" class="todo__list">
                <TaskItem 
                    :id="task.id" 
                    :task="task.task" 
                    :status="task.status" 
                    :typeName="task.type_name"/>
            </li>
        </ul>
    </div>
</template>

<script setup>
import axios from 'axios';
import TaskItem from './TaskItem.vue';
import { onMounted } from 'vue'
import { useStore } from 'vuex';


const store = useStore()

const getAlltasks = (status) => {
    axios.get("http://backend.local/api/tasks")
        .then((res) => { 
            if(status) {
                store.state.taskList = res.data.filter((task) => task.status === status)
            } else {
                store.state.taskList = res.data
            }
        }).catch((err) => {
            console.log(err);
        })
}

onMounted(() => {
    getAlltasks()
})

// const filterTasks = (status) => {
//     if(status) {
//         getAlltasks()
//         store.state.taskList = store.state.taskList.filter((task) => task.status === status)
//     } else {
//         getAlltasks()
//     }
// }

</script>


<style scoped lang="scss">
.main__container {
}


.todo__list-wrapper {
}
.table__title-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

h2 {
    font-weight: 600;
    font-size: 32px;
    color: #353535;
}

.status__list {
    display: flex;
    padding-top: 10px;
    column-gap: 32px;

    .list__item {
        font-weight: 500;
        font-size: 24px;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    .hot {
        color: #f32c2c;
    }

    .medium {
        color: #EBEE4B;
    }

    .nomatter {
        color: #5C4FED;
    }
}

.todo__list:nth-child(2n+1) {
    background-color: #F8F8F8;
}
</style>
