<template>
    <div class="wrapper edit__task" v-if="store.state.whichEdit == props.id">
        <div class="circle__mark"
        :class="[props.status == 'hot' ? 'hot' : props.status == 'medium' ? 'medium' : 'nomatter']"
        ></div>
        <input 
            @input="checkText"
            class="task__text-edit" 
            v-model="taskItem" 
            :class="[store.state.whichEdit  ? 'black' : '']"
        >
        <span @click="toggleType" class="comment_edit">{{ typeName }}</span>
        <ul class="status__marks">
            <li class="circle hot" @click="statusItem='hot'" :class="[statusItem == 'hot' ? 'shadow' : '']"></li>
            <li class="circle medium" @click="statusItem='medium'" :class="[statusItem == 'medium' ? 'shadow' : '']"></li>
            <li class="circle nomatter" @click="statusItem='nomatter'" :class="[statusItem == 'nomatter' ? 'shadow' : '']"></li>
        </ul>
        <button class="update__button" @click.prevent="updateTask(props.id, taskItem, statusItem, typeName)">OK</button>
    </div>
    <div class="wrapper read__task" v-else>
        <div class="circle__mark"
            :class="[props.status == 'hot' ? 'hot' : props.status == 'medium' ? 'medium' : 'nomatter']"></div>
        <p class="task__text">{{ props.task }}</p>
        <img class="edit__mark" @click="showEdit(props.task, props.status, props.id, props.typeName)"  src="/img/edit.svg" alt="edit task" title="edit task">
        <img class="delete__mark" src="/img/delete.svg" alt="delete task" title="delete task" @click.prevent="deleteTask(props.id)">
    </div>
</template>

<script setup>
import axios from 'axios';
import { defineProps, ref } from 'vue';
import { useStore } from 'vuex';
import inputFilter from '../services/filters';

const taskItem = ref("")
const wrongInputMessage = ref('')
const statusItem = ref("")
const store = useStore()
const props = defineProps({
    id: Number,
    task: String,
    typeName: String,
    status: {
        validator(value, props) {
            return ['hot', 'medium', 'nomatter'].includes(value)
        }
    }
})
const typeName = ref(props.typeName)
const oldMessageUpdate = ref('')


const deleteTask = (id) => {
    axios.delete(`http://backend.local/api/tasks/${id}`)
    .then(res => {
        store.state.taskList = store.state.taskList.filter((task) => task.id !== id)
    }).catch(err => err.message)
}

const showEdit = (task, status, id, type) => {
    //delete comment for dont save it in db
    if(type == 'future') task = task.replace(' /This is FUTURE!', '') 
    if(type == 'issue') task = task.replace(' /This is ISSUE!', '')
    store.state.whichEdit = id
    statusItem.value = status
    taskItem.value = task
    oldMessageUpdate.value = task
}

const updateTask = (_id, _task, _status, _type_name) => {
    axios.patch(`http://backend.local/api/tasks/${_id}`, {
        task: _task,
        status: _status,
        type_name: _type_name
    }).then((res) => {
        store.state.taskList = store.state.taskList.map((task) => {
            return task.id === _id ? {id: _id, task: res.data[0].task, status: _status, type_name: _type_name} : task
        })
        store.state.whichEdit = -1
    }).catch(err => err.message)
}

const toggleType = () => {
    if(typeName.value == 'future') {
        typeName.value = 'issue'
    } else if(typeName.value == 'issue') {
        typeName.value = 'no comment'
    } else {
        typeName.value = 'future'
    }
}

const checkText = () => {
    wrongInputMessage.value = inputFilter(taskItem.value, oldMessageUpdate.value)
    if(!wrongInputMessage.value) {
        taskItem.value = oldMessageUpdate.value
    } else {
        oldMessageUpdate.value  =  taskItem.value
    }
}


</script>


<style scoped lang="scss">
.wrapper {
    position: relative;
    width: 1200px;
    height: 50px;
    border-radius: 5px;
}

.edit__mark {
    position: absolute;
    right: 64px;
    top: 7px;
    cursor: pointer;

}

.delete__mark {
    position: absolute;
    right: 17px;
    top: 13px;
    cursor: pointer;
}

.circle__mark {
    position: absolute;
    border-radius: 100%;
    width: 28px;
    height: 28px;
    background-color: #F32C2C;
    top: 12px;
    left: 32px;
}

.task__text {
    position: absolute;
    top: 14px;
    left: 85px;
    font-weight: 400;
    font-size: 24px;
    color: #777;
    max-width: 1000px;
    overflow: hidden;
}

.task__text-edit {
    position: absolute;
    top: 10px;
    left: 85px;
    font-weight: 400;
    font-size: 24px;
    color: #777;
    width: 785px;
    overflow: hidden;
    background-color: transparent;
}

.status__marks {
    opacity: 1;
    transition: all 0.3s;
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 118px;
    right: 68px;
    top: 12px;

}

.circle {
    border-radius: 100%;
    width: 25px;
    height: 25px;
    cursor: pointer;

    &:hover {
        border: 1px solid black;
    }
}

.edit__task {
    // background-color: #F3F3F3;
}

.update__button {
    position: absolute;
    right: 16px;
    top: 12px;
    font-weight: 500;
    font-size: 20px;
    color: #404040;
    background-color: transparent;

    &:hover {
        text-decoration: underline;
    }
}

.hot {
    background-color: #F32C2C;

}

.medium {
    background-color: #EBEE4B;
}

.nomatter {
    background-color: #5C4FED;
}

.shadow {
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.25);
}

.black{
    // color: black;
    border-bottom: 1px solid rgb(170, 170, 170);
}

.comment_edit {
    cursor: pointer;
    width: 118px;
    text-align: center;
    position: absolute;
    top: 16px;
    right: 200px;
    font-size: 18px;
}
</style>