<script setup>
  import TaskList from './components/TaskList.vue'
  import AddTask from './components/AddTask.vue'
</script>

<template>
    <main class="container">
        <h1 class="main__title">Todo list</h1>
        <AddTask class="add__task"/>
        <TaskList/>
    </main>
</template>

<style scoped lang="scss">
    .container {
        max-width: 1200px;
        margin: 0 auto;
        height: 100%;
        padding-top: 85px;
    }

    .main__title {
        font-weight: 600;
        font-size: 48px;
        color: #353535;
        text-align: center;
        margin-bottom: 42px;
    }

    .add__task {
        margin-bottom: 50px;
    }
    

</style>
